.baslik{
    margin: 3rem 0;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    font-size: 2.5em;
    border: 1px solid rgb(165, 28, 219);
    border-radius: 20px;
    background-color: rgb(165, 28, 219);
    color: white;
    box-shadow: 2px 2px 2px gainsboro;
    opacity: 0.9;
}
.baslik a{
    text-decoration: none;
    color: white;
}
.baslik a:hover{
    text-decoration: none;
    color: white;
}
.baslik:hover{
    opacity: 1;
}
.govde{
    background-color: rgb(240, 240, 240);
}

.il{
    padding: 16px;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    margin-top: 2rem ;
    border: 2px solid rgb(165, 28, 219);
    color: rgb(165, 28, 219);


}
.ozet{
    border: 2px solid rgb(165, 28, 219);
    margin: 3rem 0;
    text-align: center;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 2px 2px 2px gainsboro;
}
#ne-yapmali{
    line-height: 4rem;
}
.slider{
    text-align: center;
}
.slider img{
    width: 80%;
    height: 35rem;
    border-radius: 10px;
    box-shadow: 1px 1px 1px gray;
    opacity: 0.9;
}
.slider img:hover{
    opacity: 1;
}
.icerik{
    text-align: justify;
}