.govde{
    background-color: rgb(165, 28, 219);
    color: rgb(0, 0, 0);
    border-radius: 8%;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    border-bottom: 1px;

}
.foto{
    text-align: center;
    padding-top: 2rem;
}
.foto img{
    width: 10rem;
    height: 10rem;
    text-align: center;

}
.baslik-yazi{
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    line-height: 11rem;
}

.bilgiler-baslik{
    margin-top: 5rem;
    border-bottom: 1px solid;
    margin-bottom: 2rem;
}
.bilgiler-icerik{
    margin-bottom: 1rem;
}



@media screen and (max-width: 760px){
    .govde{
        margin: 0;
        border: none;
        border-radius: 0%;
    }
    .baslik-yazi{
        text-align: center;
        line-height: 5rem;
    }
    .row-baslik{
        text-decoration: underline;
    }
    .bilgiler-baslik{
        text-align: center;
        margin-top: 1rem;
    }
    .baslik-yazi p{
        margin-left: 0;
    }
}